/* global styles */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-light: #ccc;
  --color-gray-medium: #999;
  --color-gray-dark: #777;
}

html,
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
